#pic {
  height: 500px;
  width: 300px;
  display: block;
  position: relative;
  left: 200px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 14%;
}

#mainheading {
    color: #00cccc;
    text-align: center;
    font-size: 80px;
    font-family: "Meow Script", cursive;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: white;
  }

  body {
    background: linear-gradient(to bottom, #ffffff 0%, #ffb3b3 100%);
  }

  #meninfam {
    height: 400px;
    width: 300px;
    display: block;
    position: center;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14%;
  }

  /*Styling for the navigation bar*/
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    top: -20px;
    left: -10px;
    background: black;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    z-index: 1030; /*overlap*/
  }
  
  /*Styling for words in nav bar*/
  .navbar li{
    list-style: none;
    margin: 0 130px;
  }
  
  .navbar li a{
    position: relative;
    color: white;
    font-family: "Meow Script", cursive;
    font-size: 17px;
    font-weight: 500;
    padding: 4px 0;
    text-decoration: none;
  }
  
  /*Styling for animation in nav bar*/
  .navbar li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #ffb3b3;
    border-radius: 7px;
    transition: all 0.4s ease;
  }
  .navbar li a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .navbar li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .navbar li.center a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .navbar li.center a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .navbar li.upward a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .navbar li.upward a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .navbar li.forward a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .navbar li.forward a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
  }